# Team Assignment - Intentionally Blank

The following libraries should be installed before proceeding further:
- pandas
- numpy

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime

First of all the important data files must be read for further use.

In [4]:
# Reading in weather and philadelphia_2017 data
data_weather = pd.read_csv("weather_hourly_philadelphia.csv")
data_philadelphia_2017 = pd.read_csv("philadelphia_2017.csv")

## Organizing and cleaning data

In [5]:
#Converting both datasets into a data frame
df_philadelphia_2017 = pd.DataFrame(data_philadelphia_2017)
df_weather = pd.DataFrame(data_weather)

#Changing the type of start_time, end_time (philadelphia) and date_time (weather) to datetime type from pandas
df_philadelphia_2017.loc[:,"start_time"] = pd.to_datetime(df_philadelphia_2017["start_time"])
df_philadelphia_2017.loc[:,"end_time"] = pd.to_datetime(df_philadelphia_2017["end_time"])
df_weather.loc[:, "date_time"] = pd.to_datetime(df_weather["date_time"])

#Sort dataframes by their corresponding time column
df_philadelphia_2017.sort_values(["start_time"], inplace = True)
df_weather.sort_values(["date_time"], inplace = True)

#Resetting the indexes
df_philadelphia_2017.reset_index(drop = True, inplace = True)
df_weather.reset_index(drop = True, inplace =True)

In [6]:
#Sorted dataframe for philadelphia_2017 data
df_philadelphia_2017

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name
0,2017-01-01 00:05:00,2017-01-01 00:16:00,3046,3041,5347,Indego30,2nd & Market,"Girard Station, MFL"
1,2017-01-01 00:21:00,2017-01-01 00:57:00,3110,3054,3364,Walk-up,Del. River Trail & Penn St.,Rodin Museum
2,2017-01-01 00:22:00,2017-01-01 00:57:00,3110,3054,2536,Walk-up,Del. River Trail & Penn St.,Rodin Museum
3,2017-01-01 00:27:00,2017-01-01 00:39:00,3041,3005,5176,Indego30,"Girard Station, MFL","Welcome Park, NPS"
4,2017-01-01 00:28:00,2017-01-01 00:36:00,3047,3124,5370,Walk-up,"Independence Mall, NPS",Race Street Pier
...,...,...,...,...,...,...,...,...
788902,2017-12-31 23:05:00,2017-12-31 23:33:00,3070,3124,3708,Indego30,"Spring Garden Station, MFL",Race Street Pier
788903,2017-12-31 23:11:00,2018-01-01 11:03:00,3107,3165,5117,Indego30,33rd & Reservoir,24th & Race SRT
788904,2017-12-31 23:18:00,2017-12-31 23:25:00,3033,3046,11933,Indego30,10th & Chestnut,2nd & Market
788905,2017-12-31 23:39:00,2017-12-31 23:40:00,3163,3163,6725,Indego30,25th & Locust,25th & Locust
788906,2017-12-31 23:41:00,2017-12-31 23:55:00,3163,3057,11864,Indego30,25th & Locust,Philadelphia Museum of Art

In [7]:
#Sorted dataframe for weather data
df_weather

                date_time  max_temp  min_temp  precip
0     2015-01-01 06:00:00      -1.7      -1.7     0.0
1     2015-01-01 07:00:00      -1.7      -1.7     0.0
2     2015-01-01 08:00:00      -1.7      -1.7     0.0
3     2015-01-01 09:00:00      -1.1      -1.1     0.0
4     2015-01-01 10:00:00      -1.1      -1.1     0.0
...                   ...       ...       ...     ...
43843                 NaT       NaN       NaN     NaN
43844                 NaT       NaN       NaN     NaN
43845                 NaT       NaN       NaN     NaN
43846                 NaT       NaN       NaN     NaN
43847                 NaT       NaN       NaN     NaN

[43848 rows x 4 columns]

In [8]:
#Checking for missing values in weather and philadelphia data
display(df_weather[df_weather.isnull().any(axis = 1)])
display(df_philadelphia_2017[df_philadelphia_2017.isnull().any(axis = 1)])

      date_time  max_temp  min_temp  precip
43785       NaT       NaN       NaN     NaN
43786       NaT       NaN       NaN     NaN
43787       NaT       NaN       NaN     NaN
43788       NaT       NaN       NaN     NaN
43789       NaT       NaN       NaN     NaN
...         ...       ...       ...     ...
43843       NaT       NaN       NaN     NaN
43844       NaT       NaN       NaN     NaN
43845       NaT       NaN       NaN     NaN
43846       NaT       NaN       NaN     NaN
43847       NaT       NaN       NaN     NaN

[63 rows x 4 columns]

Empty DataFrame
Columns: [start_time, end_time, start_station_id, end_station_id, bike_id, user_type, start_station_name, end_station_name]
Index: []

In [9]:
#Dropping all missing values only in the weather data, since the philadelphia data does not show any missing values
df_weather.dropna(inplace = True)

In [10]:
#Checking for any duplicates in weather and philadelphia data
display(df_weather[df_weather.duplicated()])
display(df_philadelphia_2017[df_philadelphia_2017.duplicated()])

                date_time  max_temp  min_temp  precip
65    2015-01-03 22:00:00       3.9       3.9     1.0
134   2015-01-06 19:00:00      -5.0      -5.0     1.0
270   2015-01-12 11:00:00       1.1       1.1     1.0
285   2015-01-13 02:00:00       3.3       2.8     1.0
312   2015-01-14 05:00:00      -6.1      -6.1     0.0
...                   ...       ...       ...     ...
43716 2019-12-30 08:00:00       7.8       7.8     1.0
43722 2019-12-30 14:00:00       6.7       6.7     1.0
43730 2019-12-30 22:00:00       6.7       6.7     0.0
43741 2019-12-31 09:00:00       3.9       3.9     0.0
43743 2019-12-31 11:00:00       3.9       3.9     0.0

[568 rows x 4 columns]

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name
621519,2017-10-06 07:02:00,2017-10-06 07:16:00,3120,3111,11905,Indego30,31st & Girard,"Parkside & Belmont, Case Building"
622143,2017-10-06 09:18:00,2017-10-06 09:38:00,3123,3111,5185,Indego30,22nd & Cecil B. Moore,"Parkside & Belmont, Case Building"
622166,2017-10-06 09:24:00,2017-10-06 09:56:00,3111,3004,11905,Indego30,"Parkside & Belmont, Case Building",Municipal Services Building Plaza
622390,2017-10-06 10:58:00,2017-10-06 11:18:00,3095,3111,5385,Indego30,29th & Diamond,"Parkside & Belmont, Case Building"
622432,2017-10-06 11:16:00,2017-10-06 11:46:00,3111,3107,5185,Indego30,"Parkside & Belmont, Case Building",33rd & Reservoir
622582,2017-10-06 12:09:00,2017-10-06 12:24:00,3120,3111,5284,Indego30,31st & Girard,"Parkside & Belmont, Case Building"
623181,2017-10-06 15:38:00,2017-10-06 16:30:00,3111,3040,5284,Walk-up,"Parkside & Belmont, Case Building",17th & Spring Garden
623186,2017-10-06 15:39:00,2017-10-06 16:29:00,3111,3040,2650,Walk-up,"Parkside & Belmont, Case Building",17th & Spring Garden
623578,2017-10-06 17:09:00,2017-10-06 17:36:00,3078,3111,11007,Indego30,19th & Market,"Parkside & Belmont, Case Building"
624259,2017-10-06 19:29:00,2017-10-06 19:53:00,3111,3096,11007,Indego30,"Parkside & Belmont, Case Building",29th & Dauphin
624874,2017-10-07 06:06:00,2017-10-07 06:17:00,3111,3109,5385,Indego30,"Parkside & Belmont, Case Building",Parkside & Girard
624916,2017-10-07 07:24:00,2017-10-07 08:07:00,3057,3111,2641,Indego30,Philadelphia Museum of Art,"Parkside & Belmont, Case Building"
624917,2017-10-07 07:24:00,2017-10-07 08:08:00,3057,3111,3520,Indego30,Philadelphia Museum of Art,"Parkside & Belmont, Case Building"
625364,2017-10-07 10:59:00,2017-10-07 11:19:00,3095,3111,11007,Indego30,29th & Diamond,"Parkside & Belmont, Case Building"
625738,2017-10-07 12:49:00,2017-10-07 12:50:00,3111,3111,2641,Indego30,"Parkside & Belmont, Case Building","Parkside & Belmont, Case Building"
625744,2017-10-07 12:51:00,2017-10-07 13:26:00,3111,3111,3520,Indego30,"Parkside & Belmont, Case Building","Parkside & Belmont, Case Building"
625923,2017-10-07 13:39:00,2017-10-07 14:09:00,3111,3054,11007,One Day Pass,"Parkside & Belmont, Case Building",Rodin Museum
625975,2017-10-07 13:49:00,2017-10-07 15:58:00,3060,3111,3405,One Day Pass,Free Library of Philadelphia - Central Library,"Parkside & Belmont, Case Building"
626281,2017-10-07 14:58:00,2017-10-07 15:59:00,3057,3111,3298,Indego30,Philadelphia Museum of Art,"Parkside & Belmont, Case Building"
626390,2017-10-07 15:29:00,2017-10-07 15:50:00,3160,3111,3363,Indego30,38th & Market,"Parkside & Belmont, Case Building"
626410,2017-10-07 15:34:00,2017-10-07 15:57:00,3111,3006,3520,Walk-up,"Parkside & Belmont, Case Building",40th & Spruce
626420,2017-10-07 15:35:00,2017-10-07 15:57:00,3111,3006,2641,Walk-up,"Parkside & Belmont, Case Building",40th & Spruce
626486,2017-10-07 15:49:00,2017-10-07 16:13:00,3112,3111,5357,Walk-up,48th & Spruce,"Parkside & Belmont, Case Building"
626747,2017-10-07 16:59:00,2017-10-07 17:54:00,3117,3111,3273,Indego30,ParkWest Town Center,"Parkside & Belmont, Case Building"
626898,2017-10-07 17:38:00,2017-10-07 17:42:00,3111,3109,5357,Indego30,"Parkside & Belmont, Case Building",Parkside & Girard
626916,2017-10-07 17:43:00,2017-10-07 17:59:00,3109,3111,11042,Indego30,Parkside & Girard,"Parkside & Belmont, Case Building"
626947,2017-10-07 17:51:00,2017-10-07 18:17:00,3111,3017,3298,Indego30,"Parkside & Belmont, Case Building",6th & Berks
626973,2017-10-07 17:57:00,2017-10-07 18:12:00,3111,3117,3273,Indego30,"Parkside & Belmont, Case Building",ParkWest Town Center
627049,2017-10-07 18:23:00,2017-10-07 18:54:00,3111,3039,3405,Indego30,"Parkside & Belmont, Case Building",Broad & Girard
627118,2017-10-07 18:40:00,2017-10-07 18:44:00,3111,3111,11042,Indego30,"Parkside & Belmont, Case Building","Parkside & Belmont, Case Building"
627133,2017-10-07 18:45:00,2017-10-07 19:05:00,3111,3160,11042,Indego30,"Parkside & Belmont, Case Building",38th & Market
627250,2017-10-07 19:22:00,2017-10-07 19:25:00,3111,3109,3363,Indego30,"Parkside & Belmont, Case Building",Parkside & Girard
627499,2017-10-07 21:33:00,2017-10-07 22:18:00,3100,3111,3578,Indego30,Moyamensing & Tasker,"Parkside & Belmont, Case Building"
628058,2017-10-08 10:52:00,2017-10-08 11:13:00,3020,3111,11708,Indego30,University City Station,"Parkside & Belmont, Case Building"
628071,2017-10-08 11:04:00,2017-10-08 11:25:00,3095,3111,5324,Indego30,29th & Diamond,"Parkside & Belmont, Case Building"
628147,2017-10-08 11:56:00,2017-10-08 12:15:00,3111,3111,5324,Indego30,"Parkside & Belmont, Case Building","Parkside & Belmont, Case Building"
628670,2017-10-08 17:01:00,2017-10-08 17:05:00,3111,3109,3578,Indego30,"Parkside & Belmont, Case Building",Parkside & Girard
628776,2017-10-08 17:39:00,2017-10-08 18:04:00,3111,3017,11708,Indego30,"Parkside & Belmont, Case Building",6th & Berks
628777,2017-10-08 17:39:00,2017-10-08 17:44:00,3109,3111,3363,Indego30,Parkside & Girard,"Parkside & Belmont, Case Building"
628990,2017-10-08 19:07:00,2017-10-08 19:25:00,3111,3095,5324,Indego30,"Parkside & Belmont, Case Building",29th & Diamond
630699,2017-10-09 17:41:00,2017-10-09 18:03:00,3111,3040,3363,Indego30,"Parkside & Belmont, Case Building",17th & Spring Garden
631610,2017-10-10 06:52:00,2017-10-10 07:25:00,3109,3111,2533,Indego30,Parkside & Girard,"Parkside & Belmont, Case Building"
631614,2017-10-10 06:53:00,2017-10-10 07:25:00,3109,3111,3714,Indego30,Parkside & Girard,"Parkside & Belmont, Case Building"
631621,2017-10-10 06:56:00,2017-10-10 07:08:00,3120,3111,5148,Indego30,31st & Girard,"Parkside & Belmont, Case Building"
632097,2017-10-10 08:37:00,2017-10-10 08:49:00,3111,3107,5148,Indego30,"Parkside & Belmont, Case Building",33rd & Reservoir
632278,2017-10-10 09:19:00,2017-10-10 09:38:00,3111,3040,3714,Indego30,"Parkside & Belmont, Case Building",17th & Spring Garden
632733,2017-10-10 12:29:00,2017-10-10 13:03:00,3111,3111,2533,Walk-up,"Parkside & Belmont, Case Building","Parkside & Belmont, Case Building"
634314,2017-10-10 19:10:00,2017-10-10 19:52:00,3111,3111,2533,Walk-up,"Parkside & Belmont, Case Building","Parkside & Belmont, Case Building"
635130,2017-10-11 07:02:00,2017-10-11 07:12:00,3120,3111,5327,Indego30,31st & Girard,"Parkside & Belmont, Case Building"
773320,2017-12-13 19:48:00,2017-12-13 19:51:00,3078,3168,11964,Indego30,19th & Market,20th & Sansom
773329,2017-12-13 19:57:00,2017-12-13 20:12:00,3168,3168,11964,Indego30,20th & Sansom,20th & Sansom
773340,2017-12-13 20:13:00,2017-12-13 20:19:00,3168,3045,11964,Indego30,20th & Sansom,13th & Locust
773374,2017-12-13 20:47:00,2017-12-13 20:56:00,3020,3168,11964,Indego30,University City Station,20th & Sansom
773386,2017-12-13 20:58:00,2017-12-13 21:17:00,3168,3023,11964,Indego30,20th & Sansom,Rittenhouse Square
773414,2017-12-13 21:31:00,2017-12-13 21:51:00,3168,3024,5343,Indego30,20th & Sansom,"43rd & Chester, Clark Park"

In [11]:
#Dropping all duplicates for both datasets
df_weather.drop_duplicates(inplace = True)
df_philadelphia_2017.drop_duplicates(inplace = True)

Since the weather data consists of data from the beginning of 2015 until the end of 2019, we want to have as well only the weather data for 2017.

In [12]:
#Selecting data from the beginning of 2017 till the end of 2017 and resetting the index afterwards
df_weather_2017 = df_weather[(df_weather["date_time"]>= "2017-01-01 00:00:00") & (df_weather["date_time"]< "2018-01-01 00:00:00" )]
df_weather_2017.reset_index(drop=True, inplace = True)

In [13]:
#Weather data from only 2017
df_weather_2017

               date_time  max_temp  min_temp  precip
0    2017-01-01 00:00:00       6.1       6.1     0.0
1    2017-01-01 01:00:00       6.1       6.1     0.0
2    2017-01-01 02:00:00       6.7       6.7     0.0
3    2017-01-01 03:00:00       7.2       7.2     0.0
4    2017-01-01 04:00:00       7.8       7.8     0.0
...                  ...       ...       ...     ...
8630 2017-12-31 19:00:00      -8.9      -8.9     0.0
8631 2017-12-31 20:00:00      -8.9      -8.9     0.0
8632 2017-12-31 21:00:00      -9.4      -9.4     0.0
8633 2017-12-31 22:00:00     -10.0     -10.0     0.0
8634 2017-12-31 23:00:00     -10.0     -10.0     0.0

[8635 rows x 4 columns]

In [14]:
#Adding hour, month, weekday and trip duration(based on start and end time) to the table
df_philadelphia_2017.loc[:,"trip_duration"] = df_philadelphia_2017["end_time"] - df_philadelphia_2017["start_time"] 
df_philadelphia_2017.loc[:,"weekday"] = df_philadelphia_2017["start_time"].dt.weekday
df_philadelphia_2017.loc[:,"month"] = df_philadelphia_2017["start_time"].dt.month
df_philadelphia_2017.loc[:,"hour"] = df_philadelphia_2017["start_time"].dt.hour
df_philadelphia_2017

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name,trip_duration,weekday,month,hour
0,2017-01-01 00:05:00,2017-01-01 00:16:00,3046,3041,5347,Indego30,2nd & Market,"Girard Station, MFL",0 days 00:11:00,6,1,0
1,2017-01-01 00:21:00,2017-01-01 00:57:00,3110,3054,3364,Walk-up,Del. River Trail & Penn St.,Rodin Museum,0 days 00:36:00,6,1,0
2,2017-01-01 00:22:00,2017-01-01 00:57:00,3110,3054,2536,Walk-up,Del. River Trail & Penn St.,Rodin Museum,0 days 00:35:00,6,1,0
3,2017-01-01 00:27:00,2017-01-01 00:39:00,3041,3005,5176,Indego30,"Girard Station, MFL","Welcome Park, NPS",0 days 00:12:00,6,1,0
4,2017-01-01 00:28:00,2017-01-01 00:36:00,3047,3124,5370,Walk-up,"Independence Mall, NPS",Race Street Pier,0 days 00:08:00,6,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
788902,2017-12-31 23:05:00,2017-12-31 23:33:00,3070,3124,3708,Indego30,"Spring Garden Station, MFL",Race Street Pier,0 days 00:28:00,6,12,23
788903,2017-12-31 23:11:00,2018-01-01 11:03:00,3107,3165,5117,Indego30,33rd & Reservoir,24th & Race SRT,0 days 11:52:00,6,12,23
788904,2017-12-31 23:18:00,2017-12-31 23:25:00,3033,3046,11933,Indego30,10th & Chestnut,2nd & Market,0 days 00:07:00,6,12,23
788905,2017-12-31 23:39:00,2017-12-31 23:40:00,3163,3163,6725,Indego30,25th & Locust,25th & Locust,0 days 00:01:00,6,12,23
788906,2017-12-31 23:41:00,2017-12-31 23:55:00,3163,3057,11864,Indego30,25th & Locust,Philadelphia Museum of Art,0 days 00:14:00,6,12,23

In [15]:
df_philadelphia_2017[ df_philadelphia_2017["trip_duration"] < "0 days 00:01:00"]

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name,trip_duration,weekday,month,hour
704925,2017-11-05 01:35:00,2017-11-05 01:03:00,3118,3111,6694,Indego30,"46th Street Station, MFL","Parkside & Belmont, Case Building",-1 days +23:28:00,6,11,1
704928,2017-11-05 01:39:00,2017-11-05 01:35:00,3066,3066,2551,Indego30,19th & Lombard,19th & Lombard,-1 days +23:56:00,6,11,1
704933,2017-11-05 01:51:00,2017-11-05 01:20:00,3157,3041,11750,Indego30,"8th & Mifflin, Bok Building","Girard Station, MFL",-1 days +23:29:00,6,11,1

In [16]:
df_philadelphia_2017 = df_philadelphia_2017[ df_philadelphia_2017["trip_duration"] >= "0 days 00:01:00"]
df_philadelphia_2017[ df_philadelphia_2017["trip_duration"] < "0 days 00:01:00"]

Empty DataFrame
Columns: [start_time, end_time, start_station_id, end_station_id, bike_id, user_type, start_station_name, end_station_name, trip_duration, weekday, month, hour]
Index: []

In [17]:
df_philadelphia_2017[df_philadelphia_2017["trip_duration"] > "1 days"]

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name,trip_duration,weekday,month,hour
178,2017-01-01 11:30:00,2017-01-02 14:21:00,3068,3000,3553,Indego30,Broad & Federal,Virtual Station,1 days 02:51:00,6,1,11
693,2017-01-01 18:19:00,2017-01-03 08:04:00,3072,3125,5354,Walk-up,Front & Carpenter,15th & South,1 days 13:45:00,6,1,18
1254,2017-01-03 06:48:00,2017-01-04 15:21:00,3102,3000,2512,Indego30,Pennsylvania & Fairmount Perelman Building,Virtual Station,1 days 08:33:00,1,1,6
3974,2017-01-05 16:54:00,2017-01-07 13:18:00,3088,3000,2473,Indego30,3rd & Girard,Virtual Station,1 days 20:24:00,3,1,16
6370,2017-01-10 11:59:00,2017-01-11 12:00:00,3102,3000,3541,Indego30,Pennsylvania & Fairmount Perelman Building,Virtual Station,1 days 00:01:00,1,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...
788515,2017-12-30 12:25:00,2017-12-31 14:36:00,3057,3000,11948,Walk-up,Philadelphia Museum of Art,Virtual Station,1 days 02:11:00,5,12,12
788668,2017-12-31 03:41:00,2018-01-01 15:19:00,3159,3000,5353,Indego30,38th & Spruce,Virtual Station,1 days 11:38:00,6,12,3
788677,2017-12-31 06:36:00,2018-01-02 12:04:00,3112,3000,11826,Walk-up,48th & Spruce,Virtual Station,2 days 05:28:00,6,12,6
788699,2017-12-31 09:09:00,2018-01-03 06:56:00,3073,3083,5411,Indego30,9th & Spring Garden,3083,2 days 21:47:00,6,12,9
788901,2017-12-31 23:01:00,2018-01-02 06:59:00,3071,3000,5309,Indego30,"32nd & Baring, Drexel Park",Virtual Station,1 days 07:58:00,6,12,23

In [18]:
df_philadelphia_2017 = df_philadelphia_2017[df_philadelphia_2017["trip_duration"] <= "1 days"]
df_philadelphia_2017[df_philadelphia_2017["trip_duration"] > "1 days"]

Empty DataFrame
Columns: [start_time, end_time, start_station_id, end_station_id, bike_id, user_type, start_station_name, end_station_name, trip_duration, weekday, month, hour]
Index: []

In [19]:
df_philadelphia_2017[(df_philadelphia_2017["start_station_name"] == "3083") | (df_philadelphia_2017["end_station_name"] == "3083")]

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name,trip_duration,weekday,month,hour
529104,2017-09-07 08:24:00,2017-09-07 08:49:00,3034,3083,5396,Indego30,11th & Reed,3083,0 days 00:25:00,3,9,8
529368,2017-09-07 09:08:00,2017-09-07 11:21:00,3021,3083,3515,Indego30,18th & JFK,3083,0 days 02:13:00,3,9,9
529646,2017-09-07 10:53:00,2017-09-07 11:15:00,3040,3083,3717,One Day Pass,17th & Spring Garden,3083,0 days 00:22:00,3,9,10
529657,2017-09-07 10:56:00,2017-09-07 11:13:00,3021,3083,2677,Indego30,18th & JFK,3083,0 days 00:17:00,3,9,10
529680,2017-09-07 11:12:00,2017-09-07 14:34:00,3068,3083,11934,Indego30,Broad & Federal,3083,0 days 03:22:00,3,9,11
...,...,...,...,...,...,...,...,...,...,...,...,...
782105,2017-12-21 07:44:00,2017-12-21 09:30:00,3095,3083,3497,Indego30,29th & Diamond,3083,0 days 01:46:00,3,12,7
782277,2017-12-21 08:52:00,2017-12-21 09:18:00,3034,3083,11853,Indego30,11th & Reed,3083,0 days 00:26:00,3,12,8
782286,2017-12-21 08:58:00,2017-12-21 09:08:00,3019,3083,11720,Indego30,6th & Race,3083,0 days 00:10:00,3,12,8
785550,2017-12-24 08:37:00,2017-12-24 12:04:00,3008,3083,11846,Indego30,Temple University Station,3083,0 days 03:27:00,6,12,8
786825,2017-12-27 09:01:00,2017-12-27 09:11:00,3047,3083,5271,Indego30,"Independence Mall, NPS",3083,0 days 00:10:00,2,12,9

In [20]:
df_philadelphia_2017 = df_philadelphia_2017[(df_philadelphia_2017["start_station_name"] != "3083") & (df_philadelphia_2017["end_station_name"] != "3083") ]
df_philadelphia_2017[(df_philadelphia_2017["start_station_name"] == "3083") | (df_philadelphia_2017["end_station_name"] == "3083")]

Empty DataFrame
Columns: [start_time, end_time, start_station_id, end_station_id, bike_id, user_type, start_station_name, end_station_name, trip_duration, weekday, month, hour]
Index: []

In [21]:
#Resetting the indexes
df_philadelphia_2017.reset_index(drop = True, inplace = True)
df_weather.reset_index(drop = True, inplace =True)

# KPI

## Bike fleet utilization

### Bikes utilized per month:

In [22]:
df_phil_2017_util = pd.DataFrame(df_philadelphia_2017)
df_phil_2017_util

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name,trip_duration,weekday,month,hour
0,2017-01-01 00:05:00,2017-01-01 00:16:00,3046,3041,5347,Indego30,2nd & Market,"Girard Station, MFL",0 days 00:11:00,6,1,0
1,2017-01-01 00:21:00,2017-01-01 00:57:00,3110,3054,3364,Walk-up,Del. River Trail & Penn St.,Rodin Museum,0 days 00:36:00,6,1,0
2,2017-01-01 00:22:00,2017-01-01 00:57:00,3110,3054,2536,Walk-up,Del. River Trail & Penn St.,Rodin Museum,0 days 00:35:00,6,1,0
3,2017-01-01 00:27:00,2017-01-01 00:39:00,3041,3005,5176,Indego30,"Girard Station, MFL","Welcome Park, NPS",0 days 00:12:00,6,1,0
4,2017-01-01 00:28:00,2017-01-01 00:36:00,3047,3124,5370,Walk-up,"Independence Mall, NPS",Race Street Pier,0 days 00:08:00,6,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
788244,2017-12-31 23:05:00,2017-12-31 23:33:00,3070,3124,3708,Indego30,"Spring Garden Station, MFL",Race Street Pier,0 days 00:28:00,6,12,23
788245,2017-12-31 23:11:00,2018-01-01 11:03:00,3107,3165,5117,Indego30,33rd & Reservoir,24th & Race SRT,0 days 11:52:00,6,12,23
788246,2017-12-31 23:18:00,2017-12-31 23:25:00,3033,3046,11933,Indego30,10th & Chestnut,2nd & Market,0 days 00:07:00,6,12,23
788247,2017-12-31 23:39:00,2017-12-31 23:40:00,3163,3163,6725,Indego30,25th & Locust,25th & Locust,0 days 00:01:00,6,12,23
788248,2017-12-31 23:41:00,2017-12-31 23:55:00,3163,3057,11864,Indego30,25th & Locust,Philadelphia Museum of Art,0 days 00:14:00,6,12,23

In [23]:
df_phil_2017_util_per_month = df_phil_2017_util.groupby(["month"])["bike_id"].nunique().reset_index()
df_phil_2017_util_per_month.rename(columns ={'bike_id':'Unique bikes used per month'}, inplace = True)
df_phil_2017_util_per_month.loc[:, "Numbers of rides per month"] = df_phil_2017_util.groupby(["month"])["bike_id"].count().reset_index()["bike_id"]
df_phil_2017_util_per_month.set_index("month", inplace = True)
df_phil_2017_util_per_month

       Unique bikes used per month  Numbers of rides per month
month
1                              939                       31173
2                              958                       39533
3                              950                       36989
4                              963                       66131
5                             1044                       69611
6                             1109                       84584
7                             1104                       91084
8                             1151                       94513
9                             1196                       90990
10                            1183                       87972
11                            1187                       59765
12                            1149                       35904

### Bikes utilized per weekday:

In [24]:
df_phil_2017_util_per_weekday = df_phil_2017_util.groupby(["weekday"])["bike_id"].nunique().reset_index()
df_phil_2017_util_per_weekday.rename(columns ={'bike_id':'Unique bikes used per weekday'}, inplace = True)
df_phil_2017_util_per_weekday.loc[:, "Numbers of rides per weekday"] = df_phil_2017_util.groupby(["weekday"])["bike_id"].count().reset_index()["bike_id"]
df_phil_2017_util_per_weekday.set_index("weekday", inplace = True)
df_phil_2017_util_per_weekday

         Unique bikes used per weekday  Numbers of rides per weekday
weekday
0                                 1246                        112250
1                                 1247                        119805
2                                 1250                        129414
3                                 1248                        124605
4                                 1247                        118588
5                                 1246                         92665
6                                 1247                         90922

### Bikes utilized per daytime:

In [25]:
df_phil_2017_util_per_daytime = df_phil_2017_util.groupby(["hour"])["bike_id"].nunique().reset_index()
df_phil_2017_util_per_daytime.rename(columns ={'bike_id':'Unique bikes used per daytime'}, inplace = True)
df_phil_2017_util_per_daytime.loc[:, "Numbers of rides per daytime"] = df_phil_2017_util.groupby(["hour"])["bike_id"].count().reset_index()["bike_id"]
df_phil_2017_util_per_daytime.set_index("hour", inplace = True)
df_phil_2017_util_per_daytime

      Unique bikes used per daytime  Numbers of rides per daytime
hour
0                              1228                          7714
1                              1183                          4948
2                              1114                          3364
3                               858                          1649
4                               913                          1746
5                              1229                          7256
6                              1247                         20128
7                              1249                         40370
8                              1249                         66259
9                              1247                         40810
10                             1247                         32207
11                             1244                         35353
12                             1246                         40346
13                             1246                         40882
14                             1246                         42427
15                             1248                         47639
16                             1249                         61011
17                             1247                         87401
18                             1247                         64427
19                             1248                         50002
20                             1246                         35239
21                             1245                         25542
22                             1239                         18825
23                             1241                         12704

In [26]:
df_phil_2017_util.set_index("start_time", inplace = True)
df_phil_2017_util.resample("H").count()

,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name,trip_duration,weekday,month,hour
start_time,,,,,,,,,,,
2017-01-01 00:00:00,21,21,21,21,21,21,21,21,21,21,21
2017-01-01 01:00:00,25,25,25,25,25,25,25,25,25,25,25
2017-01-01 02:00:00,17,17,17,17,17,17,17,17,17,17,17
2017-01-01 03:00:00,5,5,5,5,5,5,5,5,5,5,5
2017-01-01 04:00:00,4,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31 19:00:00,14,14,14,14,14,14,14,14,14,14,14
2017-12-31 20:00:00,4,4,4,4,4,4,4,4,4,4,4
2017-12-31 21:00:00,8,8,8,8,8,8,8,8,8,8,8
2017-12-31 22:00:00,10,10,10,10,10,10,10,10,10,10,10
2017-12-31 23:00:00,5,5,5,5,5,5,5,5,5,5,5